<div class="flex flex-col items-center content-start">
  <div class="mt-8 bg-[#f5f5f5] text-black pt-5 col-span-3 flex flex-col items-center space-y-3 rounded-lg pb-20 h-screen overflow-y-auto">
    <div class=" p-5 bg-white rounded-lg shadow-secondary-1 dark:bg-surface-dark dark:text-white max-w-full sm:max-w-lg">
      <button class="bg-blue-500 text-white px-4 py-2 rounded mb-2" (click)="toggleAddBlogPostForm()">Yeni Blog Gönderisi Ekle</button>
      <div *ngIf="addBlogPostFormOpen">
        <input #titleInput placeholder="Başlık" class="border p-2 w-full mb-2" />
        <textarea #contentInput placeholder="İçerik" class="border p-2 w-full mb-2"></textarea>
        <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="addBlogPost({ title: titleInput.value, contents: contentInput.value })">Ekle</button>
      </div>
    </div>
    <div
    class="container mx-auto pb-2 max-w-full sm:max-w-lg rounded-lg shadow-xl mb-2 transform hover:scale-110 transition duration-300 ease-in-out"
    style="box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.03);">
    <h1 class="text-blue-700 text-2xl font-bold text-center">BlogPost</h1>
  </div>
    <!-- ana kısım -->
    <div (click)="clearSelection()" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
      <div *ngFor="let blogPost of BlogPost; let index = index"
        class="card-container mx-3 mt-6 flex flex-col rounded-lg bg-white text-surface shadow-secondary-1 dark:bg-surface-dark dark:text-white sm:shrink-0 sm:grow sm:basis-0 transition-transform duration-300 ease-in-out"
        [class.scale-115]="selectedIndex === index" [class.scale-125]="selectedIndex === index"
        [class.lg:scale-155]="selectedIndex === index" (click)="toggleSelected($event, index)"
        style="display: flex; flex-direction: column; height: 100%;">
       

        <!-- Yazı kısmı -->
        <div class="p-8 flex-grow">
          
          
          <h5 class="mb-4 text-2xl font-semibold leading-tight">{{ blogPost.title }}</h5>
          <div class="mb-6 text-lg">
            <div class="text-lg">
              {{ blogPost.contents }}
             
              <p class="text-blue-800 pt-2 text-lg">Hour: 10.00-12-30</p>
              <p class="text-lg">{{ blogPost.firstName }} {{ blogPost.lastName }}</p>
            </div>
          </div>
          <!-- Yorumlar kısmı -->
          <div *ngFor="let comment of blogPost.comments">
            <div *ngIf="editingComment !== comment.id; else editCommentBlock">
              <p>{{ comment.commentContent }}</p>
              <p class="text-sm text-gray-500">{{ comment.firstName }} {{ comment.lastName }}</p>
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                (click)="editComment(comment)">Edit</button>
            </div>
            <ng-template #editCommentBlock>
              <div>
                <textarea class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
                  rows="3" #updatedComment>{{ comment.commentContent }}</textarea>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-2"
                  (click)="updateComment(comment, updatedComment.value)">Update</button>
              </div>
            </ng-template>
          </div>
          <div *ngIf="!editingComment">
            <h3 class="mt-8 text-xl font-semibold">Yorum Ekle</h3>
            <input
              type="text"
              #commentInput
              class="mt-2 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
              placeholder="Yorumunuzu buraya girin..."
              [value]="commentContent"
            />
          
            <button
            class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            (click)="addComment(blogPost?.id, commentInput.value)">
            Ekle
          </button>
          
   
          
          
          
      
          
          </div>
          
          
          
          
          
        </div>
        <!-- Alt kısım -->
        <div
          class="font-bold text-blue-700 border-t-2 border-neutral-100 px-8 py-4 text-center text-surface/75 dark:border-white/10 dark:text-neutral-300">
          <i class="text-lg pr-2 fas fa-calendar-alt"></i>
          <small>{{ blogPost.releaseDate | date:'dd.MM.yyyy' }}</small>
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          (click)="editBlogPost(blogPost)">BlogContentEdit</button>
      </div>
    </div>
  </div>

  <div *ngIf="editingBlogPost" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-75">
    <div class="bg-white rounded-lg p-6">
      <h2 class="text-2xl font-semibold mb-4">Edit Blog Post</h2>
      <div>
        <label class="block mt-4 text-sm font-medium text-gray-700">Contents:</label>
        <input type="text"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          [value]="editingBlogPost.contents" (input)="onInputChange($event, 'contents')" />

        <label class="block mt-4 text-sm font-medium text-gray-700">ID:</label>
        <input type="text"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          [value]="editingBlogPost.id" readonly />

        <label class="block mt-4 text-sm font-medium text-gray-700">User ID:</label>
        <input type="text"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          [value]="editingBlogPost.userId" readonly />

        <label class="block mt-4 text-sm font-medium text-gray-700">Title:</label>
        <input type="text" id="title" [value]="editingBlogPost?.title" (input)="onInputChange($event, 'title')" />

        <label class="block mt-4 text-sm font-medium text-gray-700">Release Date:</label>
        <input type="text"
          class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
          [value]="editingBlogPost.releaseDate" (input)="onInputChange($event, 'releaseDate')" />
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-4"
          (click)="updateBlogPost()">Update</button>
      </div>

    </div>
  </div>
</div>
