<div class="flex flex-col items-center justify-center h-screen bg-gray-300 text-gray-900">
  <div class="text-center">
    <h1 class="text-9xl font-bold mb-4 animate-bounce">404</h1>
    <p class="text-2xl mb-8">Yetkiniz yok veya aradığınız sayfa bulunamadı.</p>
    <button routerLink="/" class="bg-blue-600 hover:bg-blue-800 text-white font-semibold px-6 py-3 rounded-full shadow-md transition transform hover:scale-105 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">
      Ana Sayfaya Dön
    </button>
  </div>
</div>
